/* .text-center{
    text-align: center;
}
.bg-red{
    background-color: red;
}
.max-auto{
    margin:auto;
}
.flex{
    display: flex;
}  
.flex-col{
    flex-direction: column;
}
.item_center{
    align-items:center;
}
 */
